<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QrCode</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="main-container">
        <div class="qrcode">
            <form action = "/scan" method="Post">
            <h1>Generate Your QrCode</h1>
            <div class="textarea">
                <textarea name="text" id="" cols="30" rows="12" placeholder="Enter Url or Text"></textarea>
            </div>
            <button type="Submit">Generate QrCode</button>

        </div>
    </form>
    </div>
    
</body>
</html>