<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generator</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="main-container">
        <div class="img-code">
            <div class="code">
                <p>Scan Your QrCode</p>
                <img src="<%= qr_code %>" alt="Qr Code">
                <div>
                    <a href="/" class="btn">Back</a>
                </div>
            </div>
           
           
        </div>
    </div>
</body>
</html>